<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="surname">Enter surname: &nbsp&nbsp</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
    <br>
    <label for="age">Enter age: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br>
    <label for="email">Enter email: &nbsp&nbsp&nbsp&nbsp&nbsp </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <label for="role">Enter role: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
    <select class="form-control" multiple name="listRoles" id="role"
            size="1">
        <option selected name="ROLE_USER" value="ROLE_USER">USER</option>
        <option name="ROLE_ADMIN" value="ROLE_ADMIN">ADMIN</option>
    </select>
<!--    <input type="text" th:field="*{role}" id="role"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>-->
    <br>
    <input type="submit" value="Save!"/>
</form>

retyreyrtuyu

<!--<div>-->
<!--    <select required type="text" multiple id="sel2" name="roles">-->
<!--        <option value="2">ADMIN</option>-->
<!--        <option value="1">USER</option>-->
<!--    </select>-->
<!--</div>-->

<!--<div>-->
<!--<select th:field="*{role}">-->
<!--    <option th:value="'ADMIN'" th:text="ADMIN"></option>-->
<!--    <option th:value="'USER'" th:text="USER"></option>-->
<!--</select>-->
<!--</div>-->

<!--<div>-->
<!--<select th:field="*{role}">-->
<!--    <option value="">Select Country</option>-->
<!--    <option th:each="role : ${role}" th:value="${role}" th:text="${role}"></option>-->
<!--</select>-->
<!--</div>-->

<!--<ul>-->
<!--    <li th:each="role : ${role}">-->
<!--        <input type="checkbox" name="sel_roles" th:field="*{role}" th:value="${role}" th:text="${role}" />-->
<!--    </li>-->
<!--</ul>-->

<!--<th:block th:each="role: ${listRoles}">-->
<!--    <input type="checkbox" th:field="*{roles}"-->
<!--           th:text="${role.role}"-->
<!--           th:value="${role.id}" />-->
<!--</th:block>-->


<br>
<form th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>

</body>
</html>